/* Carrusel */
.carrusel {
    width: 100%;
    height: 420px;
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
  }
  
  .carrusel-imagenes {
    display: flex;
    animation: cambio 25s infinite;
    transition: none; /* No queremos transiciones innecesarias */
  }
  
  .carrusel .imagen {
    min-width: 100%;
    height: 420px;
    transition: none; /* No se aplicará zoom ni transición al hacer hover */
  }
  
  .carrusel img {
    width: 100%;
    height: 100%; /* Asegura que las imágenes llenen todo el contenedor */
    object-fit: cover;
    transition: none; /* Desactivar efectos de hover o cambios al pasar el ratón */
  }
  
  #inicio {
    width: 100%;
    height: 420px; /* Mantener la altura definida */
  }
  
  @keyframes cambio {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }
  
  /* Sección de imágenes */
  section {
    display: flex;
    width: 100%;
    height: 425px;
    justify-content: space-between; /* Espacio entre imágenes */
  }
  
  section img {
    width: calc(33.33% - 10px); /* 3 imágenes distribuidas equitativamente con espacio entre ellas */
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Suave transición en la transformación */
  }
  
  section img:hover {
    cursor: crosshair;
    transform: scale(1.1); /* Zoom suave dentro de su contenedor */
    opacity: 1;
    filter: contrast(120%);
  }
  